@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: start;
  padding-left: 5rem;
  align-items: center;
  font-size: 2rem;
  height: 5rem;
  background-color: #0a475b63;
  border-bottom: 1px solid rgba(255, 255, 255, 0.299);
}

.btn {
  margin-top: 2.5rem;
  padding: 1.5rem;
  color: black;
  font-size: 2rem;
  background-color: #14a74c;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.342);
  transition: all 0.2s ease;
}

.btn:hover {
  transform: translateY(-5px);
  background-color: #14a74c;
}

.UserList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
  margin-top: 4.5rem;
}

.list {
  padding: 2rem;
  width: 48%;
  display: flex;
  align-items: center;
  border: 1px solid #f0eeee73;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.info {
  margin-left: 3.5rem;
}

.list img {
  width: 15%;
  border-radius: 50%;
}

/* ----------------------- Loading Component --------------------------- */
.LoaderMain {
  margin-top: 15rem;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ----------------------- Media Query --------------------------- */
@media screen and (max-width: 1000px) {
  .UserList {
    width: 90%;
  }
  .list {
    width: 100%;
  }
}
