:root {
  line-height: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);

  background: linear-gradient(
    176deg,
    rgb(18, 24, 27) 50%,
    rgb(34, 41, 59) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}
